.main__section1 {
  height: calc(100vh - 83px);
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/section1.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1__container {
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.position {
  cursor: pointer;
}
.main__section2 {
  height: 100%;
  width: 100%;
  background: #131313;
}
.main__section3 {
  height: 100%;
  width: 100%;
  background: #ffffff;
}

.section1_title {
  font-family: Yeseva One;
  font-size: 40px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section1_title__gold {
  color: #E3B873;
}

.section1__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  line-height: 36px;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.section1__button {
  padding: 10px 20px 10px 20px;
  background: #E3B873;
  border:solid 1px #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  cursor: pointer;
  margin: 10px 10px 0px 0px;

}
.section1__button:hover {
  border:solid 1px #ffffff;
  background: rgba(255, 255, 255, 0);
}
.section1__button__submit {
  padding: 10px 20px 10px 20px;
  border:none;
  border:solid 1px rgb(255, 255, 255);
  border-radius: 2px;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  margin: 10px 10px 0px 0px;
}
.section1__button__submit:hover {
  background:#E3B873;
}

.section1__button__text {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.city__passive {
  display: none;
}
.area__passive {
  display: none;
}
.time__passive {
  display: none;
}
.cost__passive {
  display: none;
}
.slider__arrow {
  cursor: pointer;
}
.main__section2 {
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2__black {
  background-color: #131313;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
.black__container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
}
.projectinfo__container1 {

  display: grid;
  width: 45%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-gap: 2%;
  grid-template-areas:
    "title title"
    "text  text"
    "city  area"
    "time  cost"
    "pagin pagin";
}

.project__title {
  grid-area: title; 
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;

  color: #E3B873;
}
.title__position {
  align-self: center;
}
.project__text {
  grid-area: text; 
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;

  color: #FFFFFF;
}
.project__city {
  grid-area: city; 
}
.project__area {
  grid-area: area; 
}
.project__time {
  grid-area: time; 
}
.project__cost {
  grid-area: cost; 
}
.project__pagin {
  grid-area: pagin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progect__subtitle {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  color: #E3B873;
}
.project__subtext {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;

  color: #FFFFFF;
}
.projectinfo__container2 {
  width: 45%;
}
.project__main__img {
  width: 100%
}

.slider__pictures__passive {
  display: none;
}

.objects__switch {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  grid-gap: 2%;
}
.position {
  align-self: center;
  margin: 15px 0px 15px 0px;;
  text-align: center;
}


.objects__active {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #E3B873;
  
}
.objects {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}

.objects__switcher__color:link { text-decoration: none; color: #E3B873;}
.objects__switcher__color:visited { text-decoration: none; color: #E3B873;}
.objects__switcher__color:hover { text-decoration: none; color: #E3B873;}
.objects__switcher__color:active { text-decoration: none; color: #E3B873;}
.objects__switcher__color_p:link { text-decoration: none; color: rgba(255, 255, 255, 0.3);}
.objects__switcher__color_p:visited { text-decoration: none; color: rgba(255, 255, 255, 0.3);}
.objects__switcher__color_p:hover { text-decoration: none; color: rgba(255, 255, 255, 0.3);}
.objects__switcher__color_p:active { text-decoration: none; color: rgba(255, 255, 255, 0.3);}

.object__underline {
  border-bottom: solid;;
  border-bottom-color: #E3B873;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.pagination__margin {
  margin: 0px 8px 0px 8px;
}

.dot__active {
  background-color: #FFFFFF;
}

.line {
    width: 32px;
    height: 0px;
    border-bottom: 1px solid #E3B873;
}

.camera__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 2%;
  grid-template-areas:
    "title title title"
    "ldash icon rdash";
  justify-items: center;
  align-items: center;
  margin: 20px auto 20px auto;
}
.inputs__wrapper {
  width: 100%;
}
.camera__title {
  grid-area: title;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.camera_icon {
  grid-area: icon;
}
.camera__ldash {
  grid-area: ldash;
}
.camera__rdash {
  grid-area: rdash;
}

.video__wrapper {
  width: 60%; 
  position: relative;
}

.video__picture {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video__grad {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8))
}
.video__button__cover {
  position: absolute;
  top: calc(50% - 43px);
  left: calc(50% - 43px);
  height: 86px;
  width: 86px;
  border-radius: 50%;
  border: 0;
  background-color: #E3B873;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box__color {
  background: #E3B873;
}

.a__wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.article1 {
  width: 30%;
  background-color: white;
  position: relative;
}
.article2 {
  width: 30%;
  background-color: white;
  position: relative;
}
.article3 {
  width: 30%;
  background-color: white;
  position: relative;
}
.a__list {
  position: absolute;
  width:90%;
  background-color: white;
  top: 70%;
  left: 5%;
}

.a__img {
  width:100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.a__title {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  padding: 10% 0% 0% 10%;
}
.a__ul {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  padding: 5% 10% 10% 10%;
  position: relative;
}

.a__button {
  background-color: #E3B873;
  border: 0;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: none;
  padding: 7px;
  cursor: pointer;
}
.a__button__text {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.checkbox__wrapper {
  grid-area: check;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;
}

.checkbox__text {
  font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 163.68%;


color: #181818;
}

.input__button {
  background: #E3B873;
  border: 0;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  padding: 7px;
  cursor: pointer;
}

.article__cover {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, auto);
  margin-bottom: 5%;
}
.grid-item {
    z-index: 1;
}
.item1{
  grid-area: 1 / 1 / 14 / 21;
  overflow: hidden;
}
.item2{
  grid-area: 11 / 2 / 20 / 20;
}
.item3{
  grid-area: 19 / 2 / 21 / 15;
}

.color2 {background-color: #ffffff;}
.img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article {
  margin: 100px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;

  color: #363636;
}
.input__wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 5%;
  grid-template-areas:
    "name phone button"
    "check check check";
}
.input__width {
  width: 100%;
  align-self: stretch;
}

.ph__style {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;

  color: #363636;
  border-style: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  background: none;
}
.input__lable__name {
  grid-area: name;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input__lable__phone {
  grid-area: phone;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.lb__style {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;

  color: rgba(54, 54, 54, 0.5);
}
.button__width {
  grid-area: button;
  width: 100%;
  padding: 15px 0px 15px 0px;
}
textarea:focus, input:focus{
  outline: none;
}

.main__section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3__timelines {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);  
}
.section3__background {
  width: 65%;
  height: auto;
  grid-area: 1 / 1 / 21 / 21;
}
.section3__request {
  color: #131313;
  background-color: black;
  grid-area: 3 / 13 / 19 / 21;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-gap: 2%;
  padding: 2% 5% 2% 5%;
  grid-template-areas:
    "title title"
    "name  name"
    "phone phone"
    "email email"
    "checkbox checkbox"
    ". button";

}
.section3__request__title {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  grid-area: title;
  margin-top: auto;
  margin-bottom: auto;
}
.section3__request__nameinput {
  grid-area: name;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section3__request__inputs__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section3__request__labels {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.section3__request__inputs {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;

  color: #ffffff;
  border-style: none;
  border-bottom: 1px solid rgba(255, 255, 255);
  background: none;
}
.section3__request__inputs::placeholder {
  color: #ffffff;
}

.section3__request__phoneinput {
  grid-area: phone; 
}

.section3__request__emailinput {
  grid-area: email; 
}
.section3__request__checkbox {
  grid-area: checkbox; 
  width: 100%;
  display: flex;
  
}

.section3__request__button {
  grid-area: button; 
  background: #E3B873;
  border: 0;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  padding: 7px;

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  cursor: pointer;
}
.section3__request__checkbox>label {
  cursor: pointer;
}
.section3__request__checkbox_text {
  color: white;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 163.68%;
}
.checkbox{
  display: none;
}

.fake{
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #E3B873;
  color: #fff;
  justify-content: center;
}
.fake::before{
  content:"\2714";
  opacity: 0;
  transition: .2s;
}
.checkbox:checked + .fake::before{
  opacity: 1;
}
.section3__pig__wrapper {
  grid-area: 21 / 14 / 23 / 21;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section3__pig__button {
  height: 86px;
  width: 86px;
  border-radius: 50%;
  border: 0;
  background-color: #E3B873;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3__pig__wrapper>p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-left: 5px;
  color: #E3B873;

  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.section3__timeline__point {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background: #E3B873;
  border: 8px solid #FFFFFF;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3__timeline {
  height: 100%;
  width: 100%;
  grid-area: 1 / 5 / 21 / 13;
  display: grid;
  grid-template-columns:repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2%;
  grid-template-areas: 
    "point1"
    "point2"
    "point3"
    "point4";
  align-items: center;
}
.point {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.point1 {
  grid-area: point1;

}
.point2 {
  grid-area: point2;

}
.point3 {
  grid-area: point3;

}
.point4 {
  grid-area: point4;

}
.timeline__point__text {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #FFFFFF;
}
.timeline__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #363636;
}

.section3__clients {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);  
}

.clients__wrapper {
  margin-left: auto;
  margin-right: auto;
}

.clients__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;

  color: #363636;
  margin: 20px 0px 20px 0px;
}

.clients__cover {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.clients__grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, auto);
}
.clients__item1{
  grid-area: 1 / 1 / 10 / 11;
  -moz-box-shadow:0px 10px 50px rgba(0, 0, 0, 0.04); -webkit-box-shadow:0px 10px 50px rgba(0, 0, 0, 0.04); box-shadow:0px 10px 50px rgba(0, 0, 0, 0.04);
}
.clients__item2{
  grid-area: 9 / 1 / 11 / 8;
  max-width: 100%;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.clients__item3 {
  grid-area: 1 / 1 / 9 / 11;
  padding: 5%;
}
.avatar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

.clients__avatar {
  height: 76px;
  width: 76px;
  border-radius: 50%;
  border: 0;
  overflow: hidden;
}

.avatar__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar__name {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #181818;
}

.avatar__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 180%;
  color: #959595;
  text-transform: lowercase;
}

.avatar__text::first-letter {
  text-transform: capitalize
}
.clients__button_delimeter {
  width: 0px;
  height: 100%;
  border-left: 1px solid #ffffff;
}
.button__margin {
  margin: 2% 0% 2% 0%;
}
.scalex {
  transform: scaleX(-1); /* Отражение картинки по горизонтали */
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(23, 1fr);
}

.city__wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  grid-area: 1 / 1 / 7 / 24 ;
}

.city {
  opacity: 0.05;
  width: 100%;
}

.building {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url(../images/building.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  grid-area: 7 / 1 / 24 / 24 ;
}
.questions {
  background-color: black;
  grid-area: 3 / 7 / 12 / 18 ;
  z-index: 1;
  display: grid;
  grid-gap: 5%;
  padding: 2% 17% 2% 17%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  align-items: center;
  grid-template-areas:
  "title    title"
  "name     phone"
  "question question"
  "check    check"
  "submit   submit";
}

.q__title {
  grid-area:   title;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}
.q_name {
  grid-area: name;
}
.q_phone {
  grid-area: phone;
}

.q__question {
  grid-area: question;
}
.q__checkbox {
  grid-area: check;
}
.q__submit {
  grid-area: submit;
  background: #E3B873;
  border: 0;
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  padding: 7px;
  cursor: pointer;
  width: 200px;
  margin: auto;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.map__wrapper {
  grid-area: 13 / 6 / 23 / 19 ;
  z-index: 1;
  display: grid;
  grid-gap: 5px;
  /* grid-gap: 5%;
  padding: 2% 17% 2% 17%; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  align-items: center;
  grid-template-areas:
  "title title"
  "mail  insta"
  "map   map";
}

.map__title {
  grid-area: title;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #E3B873;
}

.map__pic {
  width: 100%;
  grid-area: map;
}

.map__mail {
  margin-left: auto;
  width: 28px;
  height: 28px;
  grid-area: mail;
  border-radius: 50%;
  border: 0;
  background-color: #E3B873;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.map__insta {
  width: 28px;
  height: 28px;
  grid-area: insta;
  border-radius: 50%;
  border: 0;
  background-color: #E3B873;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
@media screen and (min-width: 750px) {
  .section1__butons__container {
    display: flex;
    justify-content: left;
  }
  .section1__container {
    width: 80vw;
  }
  .section1__content {
    width: 40%;
  }
}

@media screen and (max-width: 1300px) {
  .section1__container {
    width: 100%;
    align-items: stretch;
    text-align: center;
    padding: 0px  10px 0px 10px;

  }
  .section1__content {
    width: 100%;
  }
  .section1__butons__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  .section1__button {
    width: 100%;
  }
  .section1__button__submit {
    width: 100%;
  }

  .black__container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .projectinfo__container1 {

    display: grid;
    width: 100%;
    margin-bottom: 5%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 2%;
    grid-template-areas:
      "title title"
      "text  text"
      "city  area"
      "time  cost"
      "pagin pagin";
  }
  .title__position {
    align-self: center;
    text-align: center;
  }
  .project__text {
    align-self: center;
    text-align: center;
  }
  .project__pagin {
    display: none;
  }
  .objects__switch {
    display: none;
  }
  .projectinfo__container2 {
    width: 100%;
  }
  .video__wrapper {
    width: 95%; 
  }
  .inputs__wrapper {
    background-color: black;
  }
  .article {
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 95%
  }
  .input__wrapper {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "name"
    "phone"
    "check"
    "button";
  }
  .checkbox__wrapper {
    margin-top: auto;
    margin-bottom: auto;
  }

  .input__width {
    width: 100%;
  }
  .ph__style {
    border-bottom: 1px solid white;
    color: white;
  }
  .input__lable {
    width: 100%;
    margin: 20px 0px 20px 0px;
  }
  .lb__style {
    color: #363636;
  }
  .checkbox__text {
    color: white;
  }
  .button__width {
    width: 100%;
  }
  .a__wrapper {
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
  }
  .article1, .article2, .article3 {
    width: 100%;
  }
  .article__cover {
    flex-direction: column;
  }

  .item2{
    grid-area: 11 / 1 / 20 / 19;
  }
  .item3{
    grid-area: 19 / 1 / 21 / 14;
  }
  .camera__wrapper__margin {
    margin-top: 50px;
  }
  .main__section3 {
    display: none;
  }
  .questions {
    background-color: black;
    grid-area: 1 / 1 / 12 / 24 ;
    z-index: 1;
    display: grid;
    grid-gap: 5%;
    padding: 2% 5% 2% 5%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    align-items: center;
    grid-template-areas:
    "title"
    "name"
    "phone"
    "question"
    "check"
    "submit";
  }
  .q__submit {
    width: 100%;
  }
  .building {
    background: black;
  }
  .map__wrapper {
    grid-area: 13 / 1 / 23 / 24 ;
    grid-template-areas:
    "map   map"
    "title title"
    "mail  insta";
    width: 100%;
  }
  .map__pic {
    width: 95%;
    margin: auto;
  }
}


