/* @supports (display: grid) {} */
/* @supports not (display: grid) {} */
* {
  padding: 0;
  margin: 0;
}
html,body{
  height:100%;
}
.page {
  margin: 0;
}
.page__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* height: 100vh; */
}

.header {
  /* size */
  height: 83px;
  width: 100vw;

  /* color */
  background-color: black;

  /* grid */
  display: flex;
  justify-content: center;
}

.header__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #E3B873;
}

.header__margin {
  margin: 0 10px 0 10px;
}
.header__margin__logo {
  margin: 0 30px 0 10px;
}
.header__text__p {
  color: #ffffff;
}

.nav__list {
  list-style-type: none;

  display: flex;
  flex-direction: row;
}


.header__button {
  background: #E3B873;
  border: 0;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  padding: 7px;
  cursor: pointer;
  /* width: ; */
}
@media screen and (min-width: 750px) {
  .header__wrapper {
    min-width: 60vw;
    max-width: 100vw;
  }
}
@media screen and (max-width: 1300px) {
  .header__wrapper {
    width: 100vw;
  }
  .nav__list {
    display: none;
  }
  .header__button {
    display: none;
  }
}

.div1 {
  background-color: brown;
}

.div2 {
  background-color: blueviolet;
}

.div3 {
  background-color: blue;
}

.main {
  width: 100vw;
  height: 100%;
}

.footer {
  width: 100vw;
  height: 133px;
  background-color: black;
}
